@import "tailwindcss";


@theme {
  --color-sidebar: #DFD7C7;
  --color-main-bg: #DFD7C7;
  --color-content-bg: #E8E4DC;
  --font-serif: 'pt-serif-regular', Georgia, serif;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  #root {
    min-height: 100vh;
    width: 100%;
  }
}
